.nav-link_, a {
    color: gray!important;
}
.nav-lin:hover, a:hover {
    color: black!important;
}

input:focus, textarea:focus {
    outline: none;
    border-bottom: 1px solid #010a12;
}


input {
    border: 0;
    border-bottom: 1px solid #010a12;
    text-align: center;

}
